<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Kanban</title>
</head>

<body>
    <div id="app">
        <header>
            <h4>K4NBAN</h3>
                <nav>
                    <ul class="nav_link">
                        <li><button class="button-li" id="login-btn" v-if="!isLogin" v-on:click="showLogin">Login</button></li>
                        <li><button class="button-li" id="register-btn" v-if="!isLogin" v-on:click="showRegister">Register</button></li>
                        <li><button class="button-li" id="logout-btn" v-if="isLogin" v-on:click="logout">Logout</button></li>
                    </ul>
                </nav>
        </header>
        <div class="box login-box user-access" v-if="!isLogin && regis_login">
            <div class="box-title">
                <h4 class="login-title">Login</h4>
            </div>
            <form method="POST">
                <div class="textbox">
                    <input type="text" id="login-email" placeholder="Email Address">
                </div>
                <div class="textbox">
                    <input type="password" id="login-password" placeholder="Password">
                </div>
                <button id="login-submit" class="submit-btn">Sign In</button>
            </form>
            <div class="action-button">
                <span v-on:click="showRegister">Click Here to Register</span>
                <span>Click Here to Sign In with Google</span>
                <!-- <button id="login-submit" class="login-btn">Sign In</button> -->
            </div>
        </div>
    
        <div class="box register-box user-access" v-if="!isLogin && !regis_login">
            <div class="box-title">
                <h4 class="register-title">Register</h4>
            </div>
            <form method="POST">
                <div class="textbox">
                    <input type="text" id="register-name" placeholder="Name">
                </div>
                <div class="textbox">
                    <input type="text" id="register-email" placeholder="Email Address">
                </div>
                <div class="textbox">
                    <input type="password" id="register-password" placeholder="Password">
                </div>
                <button id="register-submit" class="submit-btn">Sign Up</button>
            </form>
            <div class="action-button">
                <span v-on:click="showLogin">Click Here to Login</span>
                <span>Click Here to Sign In with Google</span>
                <!-- <button id="login-render" class="login-btn">Login</button> -->
                <!-- <button id="login-submit" class="login-btn">Sign In</button> -->
            </div>
        </div>
    
        <div class="user_info-container box" v-if="isLogin">
            <h4 class="user_name box-title" id="user_name"> John Doe is a Gay </h4>
        </div>
        <div class="flex-container box" v-if="isLogin">
            <div class="kanban-box backlog">
                <h5>Backlog</h5>
                <div class="backlog-content content">
                    <!-- Isi BackLog -->
                    <div class="backlog-list list" v-for="content in backlog_content">
                        <p class="backlog-list-title title">{{ content.title }}</p>
                        <p>{{ content.description }}</p>
                    </div>
                </div>
            </div>
            <div class="kanban-box todo">
                <h5>Todo</h5>
                <div class="todo-content content">
                    <!-- Isi Todo -->
                    <div class="todo-list list" v-for="content in todo_content">
                        <p class="todo-list-title title">{{ content.title }}</p>
                        <p>{{ content.description }}</p>
                    </div>
                </div>
            </div>
            <div class="kanban-box done">
                <h5>Done</h5>
                <div class="done-content content">
                    <!-- Isi done -->
                    <div class="done-list list" v-for="content in done_content">
                        <p class="done-list-title title">{{ content.title }}</p>
                        <p>{{ content.description }}</p>
                    </div>
                </div>
            </div>
            <div class="kanban-box completed">
                <h5>Completed</h5>
                <div class="completed-content content">
                    <!-- Isi completed -->
                    <div class="completed-list list" v-for="content in completed_content">
                        <p class="completed-list-title title">{{ content.title }}</p>
                        <p>{{ content.description }}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <i class="fa fa-plus-circle add-btn" style="font-size: 50px;" v-if="isLogin"></i>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./script/main.js"></script>
</html>