.user_name, .box-title{
    text-align: center;
    color: $color-font-nav;
    font-size: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 0 4% 0 4%;
}

.kanban-box{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: $color-secondary;
    margin: 0 1% 1rem 1%;
    h5{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }
}

.backlog h5{
    background-color: $color-backlog;
}

.product h5{
    background-color: $color-product;
}

.development h5{
    background-color: $color-development;
}

.done h5{
    background-color: $color-done;
}

.kanban-box:hover{
    animation: glow .5s ease-out infinite alternate;
}

@keyframes glow{
    0%{
        border-color: #181818;
        box-shadow: 0 0 2px rgba(192, 192, 192, 0.2),
                    inset 0 0 5px rgba(0, 0, 0, .1);
    };
    100%{
        border-color: #181818;
        box-shadow: 0 0 10px rgb(235, 233, 233),
                    inset 0 0 10px rgba(0, 0, 0, .1);
    };
}

.backlog-list{
    border: 3px solid $color-backlog;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.product-list{
    border: 3px solid $color-product;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.development-list{
    border: 3px solid $color-development;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.done-list{
    border: 3px solid $color-done;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.content p{
    margin: 5px;
}

.content .title{
    text-align: center;
    font-weight: bold;
}

.list{
    cursor: pointer;
}

.add-btn{
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: whitesmoke;
    cursor: pointer;
}