header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: $color-primary;
    width: auto;
    h4{
        color: $color-font-nav;
        cursor: pointer;
    }
}

li, .button-li{
    font-weight: 500;
    font-size: 16px;
    color: $color-font-nav;
    text-decoration: none;
    padding: 9px 15px;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline;
}

.nav_link .button-li{
    background-color: $color-button-blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.nav_link .button-li:hover{
    background-color: #00576d;
}